@font-face{
    src: url("../Fuentes/ballpark.ttf");
    font-family: "ballpark";
}
@font-face{
    src: url("../Fuentes/dayrom.eot");
    font-family: "dayrom";
}
body{
    background-color: bisque;
}
#cabecera{
    border: transparent;
    width: 999px;
    height: 150px;  
}
h1{
    font-family: "ballpark";
}
#maleta{
    float: left;
    width: 10%;
}
#menu{
    border: transparent;
    width: 500px;
    height: 20px;
    float: right;
    margin-top: 10px;
    margin-right: 200px;
}
#home{
    display: inline-block;
    margin-left: 30px;
}
#blog{
    display: inline-block;
    margin-left: 30px;
}
#viajes{
    display: inline-block;
    margin-left: 30px;
}
#contacto{
    display: inline-block;
    margin-left: 30px;
}
#imagen{
    border: transparent;
    width: 999px;
    height: 200px;
}
#sanfrancisco{
    width: 998px;
    height: 199px;
    border-radius: 15px;
}
#recuerdo{
    border: transparent;
    width: 500px;
    height: 500px;
    float: left;
}
#pinza{
    width: 10%;
    float: left;
}
h2{
    font-family: "dayrom";
}
#tiempo{
    border: transparent;
    border-radius: 15px;
    background-color: gray;
    width: 400px;
    height: 500px;
    float: right;
    margin-right: 310px;
}
#c_b6cd5c49ebaaa60496735d643d4a3474{
    margin-left: 10px;
    margin-top: -50px;
}
h3{
    margin-left: 10px;
}
#flecha{
    float: left;
    margin-left: -12px;
    margin-top: 80px;
}
#twitter{
    margin-top: 70px;
    margin-left: 10px;
}
#vimeo{
    margin-top: 70px;
    margin-left: 10px;
}
#facebook{
    margin-top: 70px;
    margin-left: 10px;
}
#flickr{
    margin-top: 70px;
    margin-left: 10px;
}
#footer{
    border: transparent;
    width: 999px;
    height: 300px;
    margin-top: 10px;
    
}
#ultimotweet{
    width: 200px;
    height: 200px;
    border: transparent;
    display: inline-block;
    margin-left: 10px;
    margin-top: -10px;
    padding: 10px 5px 10px 5px;
    
}
#fotos{
    width: 450px;
    height: 200px;
    border: transparent;
    display: inline-block;
    margin-left: 10px;
    margin-top: -200px;
    
}
#img1{
    width: 10%;
    display: inline-block;
    margin-left: 30px;
    margin-top: -15px;
}
#img2{
    width: 10%;
    display: inline-block;
    margin-left: 30px;
    margin-top: -15px;
}
#img3{
    width: 10%;
    display: inline-block;
    margin-left: 30px;
    margin-top: -15px;
}
#img4{
    width: 10%;
    display: inline-block;
    margin-left: 30px;
    margin-top: -15px;
}
#amigos{
    width: 200px;
    height: 200px;
    border: transparent;
    display: inline-block;
    margin-left: 10px;
    margin-top: -20px;
}
br{
    clear: both;
}
hr{
    border: solid black 2px;
    width: 990px;
    margin-left: 0px;
}